{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "",
        "arguments": $utils.toJson($context.arguments),
        "source": $utils.toJson($context.source),
        "identity": $utils.toJson($context.identity),
        "pemKey": "$context.arguments.workspaceID"
    }
}