#if( $context.result && $context.result.error )
    $utils.error($context.result.error.message, $context.result.error.type, $context.result.error.code, $context.result.data)
#else
    $utils.toJson($context.result.data)
#end

